
@{
    ViewBag.Title = Resources.Organization.DupicateOrganization.Strings.Title;
}

<h2>@Html.Encode(Resources.Organization.DupicateOrganization.Strings.Heading)</h2>
<hr />
<p> 
    @Html.Encode(Resources.Organization.DupicateOrganization.Strings.BodyText)
</p>
