@{
    ViewBag.Title = Html.Encode(Resources.User.PasswordReset.Strings.Title);
}


<h2>@Resources.User.PasswordReset.Strings.Heading</h2>
<hr />
<p>
    @Resources.User.PasswordReset.Strings.Body
</p>
<p>
    @Html.ActionLink(Resources.User.PasswordReset.Strings.LoginLinkCaption, "Login")
</p>
