@model DebReg.Web.Models.PasswordResetRequestViewModel

@{
    ViewBag.Title = Html.Encode(Resources.User.RequestResetPasswordSent.Strings.Title);
}


<h2>@Resources.User.RequestResetPasswordSent.Strings.Heading</h2>
<hr />
<p>
    @String.Format(Resources.User.RequestResetPasswordSent.Strings.Body, Model.EMail)
</p>