<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://debreg.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>debreg.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>debreg</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$debreg</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DebRegContext" Order="2" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:wj4iwo7r6l.database.windows.net,1433;Initial Catalog=debreg-test;User ID=dk@wj4iwo7r6l.database.windows.net;Password=HN3JN&amp;J3YcfEXu" Name="Data Source=tcp:wj4iwo7r6l.database.windows.net,1433;Initial Catalog=debreg-test;User ID=dk@wj4iwo7r6l.database.windows.net;Password=HN3JN&amp;J3YcfEXu" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DebReg.Data.DebRegContext, DebReg.Data" MigrationConfiguration="DebReg.Data.Migrations.Configuration, DebReg.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DebRegContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wj4iwo7r6l.database.windows.net,1433;Initial Catalog=debreg-test;User ID=dk@wj4iwo7r6l.database.windows.net;Password=HN3JN&amp;J3YcfEXu</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>